# Learn more about configuring your app at https://shopify.dev/docs/apps/tools/cli/configuration

client_id = "03c5fda104387ecafd82d8f9a6fe77c7"
name = "Tweakwise Export"
handle = "tweakwise-export-app"
application_url = "https://dinner-when-nearly-bus.trycloudflare.com"
embedded = true

[build]
include_config_on_deploy = true
automatically_update_urls_on_dev = true

[webhooks]
api_version = "2025-07"

  [[webhooks.subscriptions]]
  topics = [ "app/uninstalled" ]
  uri = "/webhooks/app/uninstalled"

  [[webhooks.subscriptions]]
  topics = [ "app/scopes_update" ]
  uri = "/webhooks/app/scopes_update"

[access_scopes]
# Learn more at https://shopify.dev/docs/apps/tools/cli/configuration#access_scopes
scopes = "read_products,read_markets, read_locales, read_markets_home"

[auth]
redirect_urls = ["https://dinner-when-nearly-bus.trycloudflare.com/auth/callback", "https://dinner-when-nearly-bus.trycloudflare.com/auth/shopify/callback", "https://dinner-when-nearly-bus.trycloudflare.com/api/auth/callback"]

[pos]
embedded = false
